header {
  display: flex;
}

header img {
  max-height: 100px;
}

footer {
  text-align: center;
  color: gray;
  position: fixed;
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gainsboro;
}

header li {
  display: inline;
  margin-right: 20px;
}

#shoes {
  display: flex;
  justify-content: center;
}

.shoe {
  display: flex;
  max-width: 350px;
  text-align: center;
}

#cart img {
  height: 150px;
}

#cart td,
#cart th {
  padding-left: 20px;
  padding-right: 20px;
}

input[type="number"] {
  width: 50px;
}

main {
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}
