html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

header {
  display: flex;
  padding-left: 20px;
}

header img {
  max-height: 100px;
}

footer {
  text-align: center;
  color: gray;
  padding: 20px;
  flex-shrink: 0;
  background-color: gainsboro;
}

header li {
  display: inline;
  margin-right: 20px;
}

#shoes {
  display: flex;
  justify-content: center;
}

.shoe {
  display: flex;
  max-width: 350px;
  text-align: center;
}

#cart img {
  height: 150px;
}

#cart td,
#cart th {
  padding-left: 20px;
  padding-right: 20px;
}

input[type="number"] {
  width: 50px;
}

main {
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}
